<p>Status: {{status}}</p>
<div>
    <button {{action 'startListening'}}>Start Listening</button>
    <button {{action 'stopListening'}}>Stop Listening</button>
</div>
<h3>Recordings</h3>
{{#if model}}
    <ul>
        {{#each model as |recording|}}
            <li>{{recorded-audio recording=recording}}</li>
        {{/each}}
    </ul>
{{else}}
<p>You don't have any recordings yet!</p>
{{/if}}