<div class="row">
    <div class="col s9">
        <div class="section">
            <div class="row">
                <a class="waves-effect waves-light btn green darken-4" {{action 'startListening'}}>Start</a>
                <a class="waves-effect waves-light btn red darken-4" {{action 'stopListening'}}>Stop</a>
            </div>
            <div class="row">
                <div class="col s10">
                    {{md-range value=activateThreshold min=0 max=100 name="Activate Threshold"}}
                    {{md-range value=silenceTimeout min=0 max=10 name="Silence Timeout"}}
                </div>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="section">
            <p>Started <span class="badge white-text darken-4 {{if started 'green' 'red'}}">{{started}}</span></p>
            <p>Listening <span class="badge white-text darken-4 {{if listening 'green' 'red'}}">{{listening}}</span></p>
            <p>Recording <span class="badge white-text darken-4 {{if recording 'green' 'red'}}">{{recording}}</span></p>
            <p>Playing <span class="badge white-text darken-4 {{if playing 'green' 'red'}}">{{playing}}</span></p>
            <p>Volume <span class="badge">{{volume}}</span></p>
        </div>
    </div>
    <div class="divider"></div>
</div>
<div class="row">
    <div class="section">
        <h5>Recordings</h5>
        {{#if model}}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Download</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model as |recording|}}
                        {{recorded-audio recording=recording playAction=(action 'playRecording')}}
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>You don't have any recordings yet!</p>
        {{/if}}
    </div>
</div>
